* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: #292F36;
}

p {
  font-family: "Jost", sans-serif;
  color: #4D5053;
}

.center {
  padding-left: calc(50% - 613.5px);
  padding-right: calc(50% - 613.5px);
}

.header {
  padding-top: 53px;
  padding-bottom: 25px;
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: flex-end;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__link-site {
  transition: 0.5s;
}
.header__link-site:hover {
  transform: scale(1.1);
}

.top_head {
  display: flex;
  min-height: 148px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.top_head_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.logo2 {
  margin-left: 10px;
}

.promo {
  position: relative;
}
.promo__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 368px;
  padding-left: 70px;
  box-sizing: border-box;
}
.promo__img {
  margin-top: 20px;
}
.promo__img__photo {
  border-radius: 50px;
  width: 100%;
  height: auto;
}
.promo__title {
  width: 434px;
  height: 162px;
  text-align: left;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
}
.promo__heading {
  width: 433px;
  height: 66px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: left;
}
.promo__button {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 49px 26px 48px;
  gap: 10px;
  width: 220.14px;
  height: 75px;
  background: #292F36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
}
.promo__GetStarted {
  width: 140px;
  height: 23px;
  gap: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  justify-content: center;
}

.mainPage_product-box__heading {
  margin-top: 50px;
  justify-content: center;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.mainPage_product-box__text {
  max-width: 737px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  margin-left: 270px;
  padding-top: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 70px;
}
.mainPage_product-box__content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  justify-content: center;
  gap: 65px;
  margin-bottom: 100px;
}
.mainPage_product__heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
  margin-top: 15px;
  margin-bottom: 4px;
}
.mainPage_product__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053;
}
.mainPage_Product1__img {
  border-top-right-radius: 50px;
}
.mainPage_Product3__img {
  border-bottom-right-radius: 50px;
}
.mainPage_Product4__img {
  border-bottom-left-radius: 50px;
}
.mainPage__advantages {
  height: 457px;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.mainPage_news__heading {
  margin-top: 50px;
  justify-content: center;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.mainPage_news__text {
  max-width: 737px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  margin-left: 210px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 70px;
}
.mainPage_news2 {
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.25);
  background: #F4F0EC;
}
.mainPage_news {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px;
  gap: 10px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}
.mainPage_news__img {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.mainPage_news__overlay {
  position: absolute;
  width: 124px;
  height: 41px;
  left: 35px;
  top: 249px;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}
.mainPage_news__name {
  padding-left: 11px;
  padding-top: 8px;
}
.mainPage_news__content {
  margin-top: 30px;
}
.mainPage_news__features {
  width: 305px;
  height: 70px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
  text-align: left;
}
.mainPage_news__bottom {
  display: flex;
  align-items: center;
  margin-top: 39px;
  justify-content: space-between;
}
.mainPage_news__date {
  width: 223px;
  height: 33px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4D5053;
}
.mainPage_news-container {
  display: flex;
  align-items: center;
  padding-bottom: 143px;
  justify-content: center;
  gap: 25px;
}

.blogPage__center {
  position: relative;
  height: 600px;
  overflow: hidden;
  display: flex;
  margin-bottom: 200px;
}
.blogPage__center__backImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("~@/assets/img/Blog.svg");
  background-size: cover;
  background-position: center;
}
.blogPage__center__content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 178px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogPage__center__heading {
  width: 347px;
  height: 63px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #292F36;
}
.blogPage__center__text {
  width: 130px;
  height: 33px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053;
}
.blogPage__center__post {
  margin-bottom: 156px;
}
.blogPage__center__post__object {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.blogPage__center__post__img {
  border-radius: 40px;
  margin-left: 15px;
}
.blogPage__center__post__content {
  display: flex;
  flex-direction: column;
}
.blogPage__center__post__heading {
  width: 260px;
  height: 63px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292F36;
  margin-bottom: 50px;
}
.blogPage__center__post__caption {
  width: 470px;
  height: 62px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
  margin-top: 40px;
  margin-bottom: 22px;
  text-align: left;
}
.blogPage__center__post__text {
  width: 469px;
  height: 198px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
  text-align: left;
}
.blogPage__center__post__date {
  height: 33px;
  width: 470px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4D5053;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.blogPage__center__articles {
  margin-bottom: 50px;
}
.blogPage__center__articles__heading {
  width: 370px;
  height: 63px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292F36;
  margin-bottom: 50px;
}
.blogPage__center__pages {
  margin-bottom: 200px;
  margin-top: 50px;
}
.blogPage__news__heading {
  margin-top: 50px;
  justify-content: center;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}
.blogPage__news__text {
  max-width: 737px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  margin-left: 210px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 70px;
}
.blogPage__news2 {
  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.25);
  background: #F4F0EC;
}
.blogPage__news {
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px;
  gap: 10px;
  border: 1px solid #E7E7E7;
  border-radius: 62px;
}
.blogPage__news__overlay {
  position: absolute;
  width: 124px;
  height: 41px;
  left: 40px;
  top: 250px;
  background: #FFFFFF;
  border-radius: 8px 8px 8px 0px;
}
.blogPage__news__name {
  padding-left: 13px;
  padding-top: 7px;
}
.blogPage__news__content {
  margin-top: 30px;
}
.blogPage__news__features {
  width: 305px;
  height: 70px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
}
.blogPage__news__bottom {
  display: flex;
  align-items: center;
  margin-top: 39px;
  justify-content: space-between;
}
.blogPage__news__date {
  width: 230px;
  height: 33px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #4D5053;
}
.blogPage__news-container {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blogDetailsPage {
  margin-bottom: 80px;
}
.blogDetailsPage__banner {
  margin-bottom: 150px;
}
.blogDetailsPage__banner__img {
  width: 100%;
  height: auto;
}
.blogDetailsPage__center {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
}
.blogDetailsPage__center__title {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 10px;
  text-align: left;
}
.blogDetailsPage__center__articleTitle {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62.5px;
  margin-bottom: 20px;
  text-align: left;
}
.blogDetailsPage__center__underImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 400px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 55px;
}
.blogDetailsPage__center__artticleDate {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.blogDetailsPage__center__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 40px;
  text-align: left;
}
.blogDetailsPage__center__slogan {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blogDetailsPage__center__slogan-container {
  display: flex;
  justify-content: center;
  background-color: #F4F0EC;
  margin-bottom: 40px;
  border-radius: 50px;
}
.blogDetailsPage__center__list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.blogDetailsPage__center__list li {
  margin-bottom: 10px;
  position: relative;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  width: 713px;
  color: #4D5053;
  padding-left: 20px;
}
.blogDetailsPage__center__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8.5px;
  height: 25px;
  text-align: center;
  color: #CDA274;
  font-weight: bold;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.blogDetailsPage__center__list li:nth-child(1)::before {
  content: "1";
}
.blogDetailsPage__center__list li:nth-child(2)::before {
  content: "2";
}
.blogDetailsPage__center__list li:nth-child(3)::before {
  content: "3";
}
.blogDetailsPage__center__img2 {
  margin-top: 40px;
  margin-bottom: 30px;
}
.blogDetailsPage__tag-container {
  align-items: center;
  margin-bottom: 10px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.blogDetailsPage__tag {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 24px;
  background-color: #F4F0EC;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
.blogDetailsPage__selected-tag {
  background-color: black;
  color: white;
}
.blogDetailsPage__article {
  margin-top: 20px;
}
.blogDetailsPage__selected-article {
  border-radius: 5px;
  margin-bottom: 30px;
}

.notFoundPage-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.notFoundPage__heading {
  color: #CDA274;
  margin-top: 18px;
  font-family: "DM Serif Display";
  line-height: 312.5px;
  font-weight: 400;
  font-size: 250px;
  margin: 0;
  padding-right: 5%;
}
.notFoundPage__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.notFoundPage__text {
  color: #292F36;
  font-family: "DM Serif Display";
  line-height: 52.5px;
  font-weight: 400;
  font-size: 35px;
  width: 569px;
  text-align: left;
  max-width: 569px;
}
.notFoundPage__image {
  margin-left: 2%;
  width: 50%;
}
.notFoundPage__img {
  width: 100%;
  height: auto;
}
.notFoundPage__back-home {
  display: flex;
  padding: 26px 54px;
  border-radius: 18px;
  background-color: #292F36;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Jost";
  line-height: 22.5px;
  font-weight: 600;
  margin-top: 30px;
  width: 150px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  min-height: 79px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.footer__logo {
  text-align: left;
}
.footer__statement {
  margin-top: 18px;
  width: 393px;
  height: 66px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053;
  text-align: left;
}
.footer__heading {
  width: 64px;
  height: 31px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #292F36;
  padding-bottom: 9px;
}
.footer__center {
  margin-left: 101px;
  margin-right: 350px;
}
.footer__pages {
  flex-direction: column;
  width: 72px;
  height: 198px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 300%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053;
  align-items: flex-start;
}
.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__contacts {
  margin-top: 26px;
  width: 258px;
  height: 215px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
  text-align: left;
}
.footer__email {
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer__info {
  margin-top: 31px;
  display: flex;
  gap: 54px;
}

.circle-svg {
  position: relative;
}

.circle {
  fill: #F4F0EC;
  opacity: 0.5;
}

.scroll-link {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */